@font-face {
  font-family: 'ITC';
  src: url(fonts/ITCAvantGardePro-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Avenir';
  src: url(fonts/Avenir.ttc) format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

@media (max-width: 1088px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}

.left-side {
  width: 50%;
}

@media (max-width: 1000px) {
  .left-side {
    width: 100%;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.right-side {
  position: relative;
  flex: 1;
}

@media (max-width: 1000px) {
  .right-side {
    width: 100%;
    position: absolute;
    top: 200px;
    height: 100%;

    padding: 0;
    
  }

  .right-side-content {
    padding: 20px !important;
  }
}

@media (max-width: 1000px) {
   .description {
    width: 80% !important;
   }
}

@media (max-width: 1000px) {
  .title {
   width: 100%;
   color: #fff !important;
   height: 80px !important;
   word-wrap: break-word;
   text-align: justify;
   
  }

  .subtitle {
    visibility: hidden;
  }

  .products {
    margin-top: 20px !important;
  }
  
  .btn-shop {
    color: #fff;
    background-color: transparent;
    border: 0;
    font-family: Avenir;
    font-size: 13px;
    font-weight: 900;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }

  .btn {
    background-color: #fff !important;
  }

}

.right-side-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px 0 50px 50px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.description {
  display: flex;
  flex-direction: column;
}

.title {
  width: 494px;
  height: 123px;
  top: 96px;
  left: 120px;
  font-family: 'ITC';
  font-size: 31.25px;
  line-height: 40.62px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}



.subtitle {
  height: 52px;
  width: 432px;
  left: 120px;
  top: 231px;
  font-family: 'Avenir';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
}

.btn-shop {
  height: 17px;
  width: 146px;
  font-family: 'Avenir';
  font-size: 13px;
  font-weight: 900;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  border: 0;
  text-transform: capitalize;
  background-color: transparent;
}

.btn {
  height: 1px;
  width: 146px;
  left: 0px;
  border: 0px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  background-color: #000000;
}

.products {
  position: relative;
  margin-top: 40px;
}

.product-cards {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.product-cards::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  left: 120px;
  width: 230px;
  height: 363px;
  margin-right: 20px;
}

.product-image {
  width: 100%;
  height: 310;
  padding-top: 10px;
}

.product-name {
  width: 200px;
  height: 20px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: justify;
  color: #000000;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .product-name {
   width: 100%;
   word-wrap: break-word;
   text-align: justify;
  }
}

.price {
  font-family: 'Avenir';
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

/* .arrow {
  position: absolute;
  border: 1px solid blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

.left-arrow,
.next-arrow {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 35%;
  background-color: transparent;
}
.left-arrow {
  left: 0;
}
.next-arrow {
  right: 0;
}

.img-arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.price-colors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.colors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

.color1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e5f0f2;
}

.color2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #cc9999;
}

.color3 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #cb99cc;
}

.color4 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #a6cc99;
}
